/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-heading: "Pixelify Sans", cursive;
}

html {
  font-family: var(--font-sans), sans-serif;
}

h1 {
  font-family: var(--font-heading), monospace;
}
