/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-heading: 'Bitcount Single', cursive;
}

html {
  font-family: var(--font-sans), sans-serif;
}

h1 {
  font-family: var(--font-heading), monospace;
}
